@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
}

nav {
    background: rgb(17, 2, 100);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 18px 30px;
}

.main-container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: block;
    position: relative;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.hamburger:hover {
    color: rgb(134, 134, 253);
}

.menu {
    display: none;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: white;
    margin: 0 15px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 100px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    z-index: 90;
    background-color: rgb(17, 2, 100);
    color: white;
    opacity: 0;
}

.mobile-menu.is-open {
    opacity: 1;
}

.mobile-menu a {
    color: white;
    display: block;
    padding: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.mobile-menu a:hover {
    background-color: rgb(93, 93, 194);
}

.menu a:hover {
    background-color: rgb(93, 93, 194);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: fit-content;
}

.hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100vh;
    display: flex;
    margin-top: 70px;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: calc(100% - 77px);
    object-fit: contain;
    background-color: rgb(32, 32, 32);
}

.navegation-manual {
    position: absolute;
    width: 100%;
    margin-top: 80vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(17, 2, 100);
    padding: 5px;
    border-radius: 10px;
    z-index: 9;
    cursor: pointer;
    transition: 1s;
}



/*Tablet*/
@media (min-width: 768px){
    
    .hamburger, .mobile-menu{
        display: none;
    }
    .menu {
        display: flex;
    }
    .menu a {
        padding: 8px 8px;
        margin: 0 10px;
        font-size: 18px;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    .hamburger, .mobile-menu{
        display: none;
    }
    .menu {
        display: flex;
    }
    .menu a {
        padding: 8px 16px;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
}